<footer class="footer" id="contacts">
    <div class="container">
        <p class="footer__text">
            Find a retailer near you
        </p>
        <p class="footer__text">
            Or call <a href="tel:800 207 758">800 207 758</a>
        </p>
        <img src="images/white-logo.svg" alt="">
        <div class="footer__bottom">
            <p class="footer__bottom-text">Copyright © 2023 Apple Inc.</p>
            <p class="footer__bottom-text">All rights reserved.</p>
            <p class="footer__bottom-text">
                <a href="#">
                    Legal Notices
                </a>
            </p>
            <p class="footer__bottom-text">
                <a href="#">
                    Site Map
                </a>
            </p>
            <p class="footer__bottom-text">
                <a href="#">
                    Privacy Policy
                </a>
            </p>
        </div>
    </div>
</footer>