<header class="header">
  <div class="container">
    <div class="header__top">
      <a class="header__top-logo" href="#">
        <img src="images/logo.svg" alt="">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#info">
              Info
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#product">
              Product
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#contacts">
              Contacts
            </a>
          </li>
          <li class="menu__item menu__item-btn">
            <button class="menu__button btn">BUY</button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__content">
      <img class="content-item color--blue content-item--active" src="images/header-blue.webp" alt="blue headset">
      <img class="content-item color--white" src="images/header-white.webp" alt="white headset">
      <img class="content-item color--pink" src="images/header-pink.webp" alt="pink headset">
      <img class="content-item color--green" src="images/header-green.webp" alt="green headset">
      <img class="content-item color--black" src="images/header-black.webp" alt="black headset">
    </div>
  </div>
</header>